* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e1e7ed;
}

.boxeffect {
    box-shadow: 10px 7px 10px rgb(0 0 0 / 15%), -7px -7px 20px rgb(255 255 255/100%);
    border-radius: 22px;
}

.container {
    width: 95%;
    /* height: 98vh; */
    display: flex;
    justify-content: center;
}
body h2{
    text-align: center;
    font-family: Verdana;
    font-size: 3rem;
    color: rgb(0, 37, 148);
    margin-top: 60px;
}

.container .boxes {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}

.container .boxes h3 {
    font-size: 33px;
    font-family: Verdana;
    margin-bottom: 10px;
    color: red;
}

.container input {
    text-align: center;
    font-weight: 700;
    width: 63%;
    font-size: 4rem;
    border: 0;
    background-color: #e1e7ed;
    color: #0008ff;
    padding: 26px 0px;
    outline: none;
}
.container input:focus{
    border-radius: 20px;
}
@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
    }
    .container .boxes {
        margin-top: 3rem;
    }
    .container input {
        width: 90%;
    }
    body h2{
        margin-top: 10px;
    }
}
@media screen and (max-width: 350px) {
    body h2{
        font-size: 40px;
    }
}
